<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>: An app for buying and selling ads, designed with Node.js and MongoDB.</p>
    <br>
    <h6>Made by Yolanda Díaz</h6>
  </body>
</html>
